<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<h1> You have successfully requested for IT Support </h1>
		<p> A response to your request will be provided to you shortly </p>

	</body>
</html>