<div class ="container">
<div class = "bg-faded p-4 my-4">
<h1 align="center">Editing Toner</h1>

<%= render 'form', toner: @toner %>

<%= link_to 'Show', @toner %> |
<%= link_to 'Back', toners_path %>
</div>
</div>
