<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">
      <div class="content-header">
      <!-- adding breadcrumb navivaton -->
        <ol class="breadcrumb">
          <li class="active">
            <a href="#"><i class="fa fa-home"></i>Home Page</a>
          </li>
        </ol>
        <h1>
          Dashboard
          <small>
            <% if current_user.stationname.present? %>
            <font color="green">
              The Following Items Are Currently Deployed At:<b> <%= current_user.stationname %>.</b> <br />
              (Inventory List is still being populated)
            </font>
          </small>
          <% else %>
          <%= render 'layouts/alerts' , :msg => " Your Assigned Station Is Not Set.
              You can only see inventory of items deployed at your assigned station.
              Please Click on Edit Profile to select your Assigned Station" %>
          <% end %>
        </h1>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs style-1" id="tabs" role="tablist">
                <li class="active nav-item"><a class="nav_links nav-link btn" data-toggle="tab" href="#tracked" role="tab">Tracked</a></li>
                <li class="nav-item"><a data-toggle="tab" class="nav_links nav-link btn" href="#available" role="tab">Available</a></li>
                <li class="nav-item"><a data-toggle="tab" class="nav_links nav-link btn" href="#unavailable" role="tab">Unavailable</a></li>
                <li class="nav-item"><a data-toggle="tab" class="nav_links nav-link btn" href="#ordered" role="tab">Ordered</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tracked">
                    <h1>Tracked Items</h1>
                </div>
                <div class="tab-pane" id="available">
                    <h1>available</h1>
                </div>
                <div class="tab-pane" id="unavailable">
                    <h1>unavailable</h1>
                </div>
                <div class="tab-pane" id="ordered">
                    <h1>ordered</h1>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <script>

  $('#tabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

    $.widget.bridge("uibutton", $.ui.button);
  </script>
  <script>
    $(function () {
      $("#example1").DataTable();
      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
      });
    });
  </script>
</body>