<html>
<head>
<title> Customs IT Inventory</title>
<style>
table, th, td, tr {
  
  border-collapse: collapse;
  vertical-align: top;
  
}


</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Resources
          <small>Learning Center</small>
        </h1>
        <ol class="breadcrumb">
        
          <li class="active">Proffesional Development</li>
        </ol>
      </section>

      <section class="content">
        
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">
                <div class="box-body"><h4>
                  <p>The following tutorials are from <i>GFC LearnFree.org</i>. Each tutorial has a Challenge at the end that includes a set of instructions and a spreadsheet file for you to download and work on.</p></h4>
              <!-- /.box-header -->
                     <div class="table-responsive fix-table-height">
               
                  <table id="example1" class="table-bordered table-striped" width="100%"><tr align=""><td align="" width="33.3%">
            <h3> Microsoft Word 2016 Tutorials</h3>
            <ol>
              <li> <a href="https://edu.gcfglobal.org/en/word2016/getting-started-with-word/1/" target="_blank">Getting Started With Word</a></li>
              <li><a href="https://edu.gcfglobal.org/en/word2016/getting-started-with-word/1/">Understanding One Drive</a></li>

            <li><a href="https://edu.gcfglobal.org/en/word2016/creating-and-opening-documents/1/" target="_blank">Creating and Opening Documents</a></li>
            <li> <a href="https://edu.gcfglobal.org/en/word2016/saving-and-sharing-documents/1/" target="_blank">Saving and Sharing Documents</a>
            </li>
            <li> <a href="https://edu.gcfglobal.org/en/word2016/text-basics/1/" target="_blank">Text Basics</a></li>
            <li> <a href="https://edu.gcfglobal.org/en/word2016/formatting-text/1/" target="_blank">Formatting Text </a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/using-find-and-replace/1/" target="_blank">Using Find & Replace</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/indents-and-tabs/1/" target="_blank">Indents & Tabs</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/line-and-paragraph-spacing/1/" target="_blank">Line & Paragraph Spacing</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/lists/1/" target="_blank">Lists</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/hyperlinks/1/" target="_blank">Hyperlinks</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/page-layout/1/" target="_blank">Page Payout</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/printing-documents/1/" target="_blank">Printing Documents</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/breaks/1/" target="_blank">Breaks</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/columns/1/" target="_blank">Columns</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/headers-and-footers/1/" target="_blank">Headers & Footers</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/page-numbers/1/"target="_blank">Psge Numbers</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/pictures-and-text-wrapping/1/"target="_blank">Picture & Text Wrapping</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/pictures-and-text-wrapping/1/"target="_blank">Formatting Pictures</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/shapes/1/">Shapes</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/text-boxes/1/"target="_blank">Text Boxes</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/aligning-ordering-and-grouping-objects/1/"target="_blank">Aligning, Ordering & Grouping Objects</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/tables/1/"target="_blank">Tables</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/charts/1/"target="_blank">Charts</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/checking-spelling-and-grammar/1/"target="_blank">Checking Spelling & Grammar</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/track-changes-and-comments/1/"target="_blank">Track Changes & Comments</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/inspecting-and-protecting-documents/1/"target="_blank">Inspecting & Protecting Document</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/smartart-graphics/1/"target="_blank">Smart Graphics</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/applying-and-modifying-styles/1/"target="_blank">Applying & Modifying Styles</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/mail-merge/1/"target="_blank">Mail Merge</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/new-features-in-office-2016/1/"target="_blank">New Features in Word 2016</a></li>
            <li><a href="https://edu.gcfglobal.org/en/word2016/word-quiz/1/"target="_blank">MS Word Quiz</a></li>



           </ol> 
         </td><td width="33.3%"><h3>Microsoft Excel 2016 Tutorials</h3>

          <ol>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/getting-started-with-excel/1/" target="_blank">Getting Started With Excel</li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/getting-started-with-excel/1/">Understanding One Drive</li></a>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/creating-and-opening-workbooks/1/">Creating & Opening Workbooks</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/saving-and-sharing-workbooks/1/">Saving & Sharing Workbooks</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/cell-basics/1/">Cell Basics</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/modifying-columns-rows-and-cells/1/">Modifying Columns, Rows & Cells</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/formatting-cells/1/">Formatting Cells</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/understanding-number-formats/1/">Understanding Number Formats</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/working-with-multiple-worksheets/1/">Working With Multiple Worksheets</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/using-find-replace/1/">Using Find & Replace</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/checking-spelling/1/">Checking Spelling</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/page-layout-and-printing/1/">Page Layout & Printing</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/intro-to-formulas/1/">Intro To Formulas</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/creating-more-complex-formulas/1/">More Complex Formulas</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/relative-and-absolute-cell-references/1/">Relative & Absolute Cell Referencing</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/functions/1/">Functions</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/basic-tips-for-working-with-data/1/">Tips For Working With Data</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/freezing-panes-and-view-options/1/">Freezing Panes & View Options</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/sorting-data/1/">Sorting Data</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/filtering-data/1/">Filtering Data</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/groups-and-subtotals/1/">Groups & Sub-Totals</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/tables/1/">Tables</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/charts/1/">Charts</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/conditional-formatting/1/">Conditional Formatting</a></li>
            <li><a href="https://edu.gcfglobal.org/en/excel2016/track-changes-and-comments/1/">Track Changes & Comments</li>
              <li><a href="https://edu.gcfglobal.org/en/excel2016/inspecting-and-protecting-workbooks/1/">Inspecting & Protecting Workbooks</a></li>
              <li><a href="https://edu.gcfglobal.org/en/excel2016/intro-to-pivottables/1/">Pivot Tables</a></li>
              <li><a href="https://edu.gcfglobal.org/en/excel2016/doing-more-with-pivottables/1/">Doing More With Pivot Tables</a></li>
              <li><a href="https://edu.gcfglobal.org/en/excel2016/whatif-analysis/1/">What-If Analysis</a></li>
              <li><a href="https://edu.gcfglobal.org/en/excel2016/more-resources/1/">More Resources</a></li>
        </ol>


         </td>
         <td width="33.3%"> <h3> Microsoft Access 2016 Tutorials </h3>            </td>





         </tr></table></div></div></div>



            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
</body>
</html>