<h1>   </h1>

<% if session[:section_search] && session[:user_id] %>
  <%= link_to "Add to Roster", add_report_path(report_id: @report.id) %><br>
  <%= link_to "Back to  #{session[:section_search]}'s", report_search_path %>
<% end %>

<ul>
  <li>
    Position: <%= @report.station %>
  </li>
  <li>
    DOB: <%= @report.station %>
  </li>

</ul>
