<%= form_for(border_rot_import) do |f| %>
  <% if border_rot_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(border_rot_import.errors.count, "error") %> prohibited this border_rot_import from being saved:</h2>

      <ul>
      <% border_rot_import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
