<%= render 'layouts/header' %>
<body class="skin-blue sidebar-mini">
  <%= @border_rot_import.inspect%>

  <div class="content-wrapper">
    <div class="content">
      <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 " style="border: 1px solid grey; box-shadow: 5px 10px #dfdfdf; border-radius: 15px;">
            
            <div class="card" style="width: 80%; padding-left: 20%;">
                <div class="card-header">
                    <h4 class="card-title text-center">Importer Information</h4>
                </div>
                <div class="card-body">
                    <%= render 'exiting', border_rot_import: @border_rot_import %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>