<%= render 'layouts/header' %>
<body class="skin-blue sidebar-mini">
    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                
                <div class="col-md-12">
                    <ul class="nav nav-tabs style-1" id="tabs" role="tablist">
                        <li class="active nav-item"><a class="nav_links nav-link btn" data-toggle="tab" href="#entrance" role="tab">Entrance Gate</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="entrance">
                            <h1 class="text-center">New Importer</h1>
                            <%= render 'entering', border_rot_import: @border_rot_import %>
                            <%= link_to 'Back', border_rot_imports_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    //Resets input field if N/A checkbox clicked
    $('#na_vin').on('click',function(){ 
        if (this.checked){ $('#border_rot_import_vin').attr('disabled', 'disabled'); 
        $('#border_rot_import_vin').addClass('invisible');
        $('#border_rot_import_vin').val('');
        }
        else{
            $('#border_rot_import_vin').removeAttr('disabled');
            $('#border_rot_import_vin').removeClass('invisible');
        }
    });
    
    //Resets input field if N/A checkbox clicked
    $('#na_license').on('click',function(){ 
        if (this.checked){ $('#border_rot_import_license_plate_in').attr('disabled', 'disabled'); 
        $('#border_rot_import_license_plate_in').addClass('invisible');
        $('#border_rot_import_license_plate_in').val('');
        }
        else{
            $('#border_rot_import_license_plate_in').removeAttr('disabled');
            $('#border_rot_import_license_plate_in').removeClass('invisible');
        }
    });
</script>
</body>
